# Data Sceince Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* popular languages that Data Scientists
* commonly used libraries used by Data Scientists
* arithmetic expressions
* Tables

Some of the popular languages that Data Scientists use are:
1. python
2. sql
3. R

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. ggplot
3. numpy

| Data Science Tools |
|-------------------|
| jupyter notebook   |
| RStudio            |
| Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# this is a simple arithmetic expression to multiply then add integers 
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## auther
fadi